<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.witwatersrand.androidapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartMenu"
            android:label="@string/title_menu_list" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.STARTMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuitems.TodaysItems"
            android:label="@string/title_activity_todays_items" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.TODAYSITEMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoFeed"
            android:label="@string/title_activity_video_feed" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.VIDEOFEED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInformation"
            android:label="@string/title_activity_user_information" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.USERINFORMATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".progressrequester.CurrentOrders"
            android:label="@string/title_activity_current_orders" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.CURRENTORDERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuitems.Items"
            android:label="@string/title_activity_items" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.ITEMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cart.Cart"
            android:label="@string/title_activity_cart" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.CART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimulateStateAtTime"
            android:label="@string/title_activity_simulate_state_at_time" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.SIMULATESTATEATTIME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authetication.Authentication"
            android:label="@string/title_activity_authentication" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
         	android:name=".progressrequester.OrderProgress"
            android:label="@string/title_activity_order_progress" >
            <intent-filter>
                <action android:name="com.witwatersrand.androidapplication.ORDERPROGRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name=".progressrequester.longpoller.LongPollerProgressRequester" />
    </application>

</manifest>